@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body{
    background-color:aqua;
    font-family: 'Shadows Into Light', cursive;

}

#body{
    display: flex;
    justify-content: space-evenly;
}
.Header{
    display: flex;
    justify-content: space-evenly;
    

}
#title{
    font-size: 700%;
    margin: 0%;
}
#sub{
    margin: 0%;
}
